<%-include("partials/header") %>
<style>
p
{
    width:350px; 
    
    word-wrap:break-word; /*fazla geleni alt satira atiyo*/
	line-height: 1.42857143;
}
	
	
</style>

<div class="ui main text container" style="margin-top:5em;">
	<div class="ui huge header" style="text-align:center">
		TIMELINE
	</div>
	<div class="ui top attached segment">
		<div class="ui diveded items">
			<% blogs.forEach(function(blog){%>
<div class="item">
	<div class=image>
		<img src="<%=blog.image%>">
	</div>
	<div class="content">
		<a class="header" href="/blogs/<%=blog._id%>"><%=blog.title%></a> 
		<div class="meta">
		 <span><%=blog.created.toDateString()%></span>
	</div>
	<div class="description">
		<p>
	 <%-blog.body.substring(0, 300) %>...
</p>
	</div>
	
		<div class="extra">
				<%if(currentUser&&currentUser.isAdmin==true){%>
			<form method="POST" action="/blogs/<%=blog._id%>?_method=DELETE" style="display:inline">
		<button class="ui inverted   red  button"><i class="trash alternate icon"></i>Delete</button>
	</form>
		
	
	<a class="ui inverted blue green  button" href="/blogs/<%=blog._id%>/edit">Edit</a>
				<%}%>
	<a class="ui inverted blue  button" href="/blogs/<%=blog._id%>">More</a>
		
	</div>
		
	</div>
	
	
     
    
     
	
	
	</div> 
<%})%>
		</div>
	</div>
	
</div>



<%-include("partials/footer") %>