<%-include("partials/header") %>

<style>
  #body{
   
    
    /*fazla geleni alt satira atiyo*/
	
	 
}
	.text{
		line-height: 4em;
	
		
  
	}
	p {
		
		 width:670px; 
    
    word-wrap:break-word; /*fazla geleni alt satira atiyo*/
	
		
		
		
		line-height: 2em;
		
 white-space: pre-line;
}
	
	
	
	
	
</style>
<div class="ui main text container segment">
	
	<div class="ui top attached">
		<div class="item">
			<img class="ui mb-3 centered rounded  image" src="<%=blogs.image%>">
			
				<div class="ui huge header text-center">
		<%=blogs.title%>
	</div>
			
			
			<div class="description">
				<p id="body">
					<!-- tire kullanmasmizin sebebi adam </strong> tagi girerse onu html e yazmasin calistirsin yazi kalin olsun -->
					<%-blogs.body%>
					<div class="content float-right">
			<strong><%=blogs.created.toDateString()%></strong>
		</div>
				</p>
				
			</div>
			
		</div>
		
		
	</div>
	
	<a href="javascript:history.back()" class=" ui red button big inverted ">Go Back</a>
	
	<% if(currentUser&&currentUser.isAdmin==true){%>
	<a class="ui inverted  green big button" href="/blogs/<%=blogs._id%>/edit">Edit</a>
	<form method="POST" action="/blogs/<%=blogs._id%>?_method=DELETE" style="display:inline">
		<button class="ui inverted big red  button"><i class="trash alternate icon"></i>Delete</button>
	</form>
	<%}%>
	<hr class="my-5">
	<%if(!currentUser){%>
		<p class="text-center">
			You have to <a href="/login">Sign In</a> or <a href="/register">Sign Up</a> to add comment...
	</p>
	
	<%}%>
	
	
	
	<%if(blogs.comments.length>0){%>
	<h1 class="text-center mt-5">
		COMMENTS
	</h1>

	
	<%}%>
	
	
	

	
	<%blogs.comments.forEach(function(comment){%>
	<div class="ui comments">
  <div class="comment mt-5">
	  
    
    <div class="content">
		<%if(comment.author.username=="ADMIN"){%>
		<a class="author" style="color:red;"><strong><%=comment.author.username%></strong></a>
		<%} else {%>
      <a class="author"><strong><%=comment.author.username%></strong></a>
		<%}%>
      <div class="metadata">
        <div class="date"><%=comment.created.toDateString()%>
		  
		  
		  </div>
      </div>
      <div class="text">
		  <%=comment.text.substring(0,200)%>		  

<span class="collapse" id="<%=comment.text%>" style="margin-bottom:9rem;  white-space: pre-wrap;">
    <%=comment.text.substring(200,comment.text.length)%>
</span> 
		  <%if(comment.text.length>200){%>
		  
<span style="margin-bottom:7rem;">
	
 <a  href="#<%=comment.text%>" data-toggle="collapse">
	<i class="angle double down icon"></i>More
	 
	 
	</a>
</span>
	
	
	
	<%}%>
		  
  
    
        
      </div>
		<%if(currentUser && currentUser._id.equals(comment.author.id) || currentUser&&currentUser.isAdmin==true){%>
				 <span class="float-right" >
			<form method="POST" class="float-right" style="display:inline;" action="/blogs/<%=blogs._id%>/comments/<%=comment._id%>?_method=DELETE">
			   		
      <button style="display:inline; color:white;" class="mini ui float-right  red button">DELETE</button>
   
	</form>					  
			<a style="display:inline" class="mini ui float-right green button" href="/blogs/<%=blogs._id%>/comments/<%=comment._id%>/edit">EDIT</a>
					  
			
			</span>
				 <%}%>	
    </div>
  </div>
		<%})%>
	  
	  
	  
 <%if(currentUser){%>
  <form class="ui mt-5 form" action="/blogs/<%=blogs._id%>/comments" method="POST">
    <div class="field">
		
      <textarea  required name="text"></textarea>
    </div>
    <button class="ui primary submit labeled icon button">
      <i class="icon edit"></i> Add Comment
    </button>
  </form>
</div>
	<%}%>
	
	
	
</div>


	
	 

<%-include("partials/footer") %>